exports.env = {
    // the default env will be used when you just do "kanso push"
    'default': {
        db: 'https://deploy:chaiveisai9paifeich4ro0yohTiebie@localhost/emr_{{ansible_hostname}}' 
    }
};